<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <!-- <div class="logo-image-small">
        <img src="./assets/img/logo-small.png">
      </div> -->
      <!-- <p>CT</p> -->
    </a>
    <a  class="simple-text logo-normal">
    <div class="logo-image-big">
        <img style="width: 70%;"  src="../assets/img/admin.png">
      </div>
      <div style="margin-left: 20%;
      margin-top: 5%;">
         Admin
      </div>


    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a>
          <i class="bi bi-card-checklist" ></i>
          <p>Tổng quan</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dslophoc">
          <i class="nc-icon nc-diamond"></i>
          <p>Danh sách lớp học</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dshocsinh">
          <i class="nc-icon nc-pin-3"></i>
          <p>Danh sách học sinh</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dsmonhoc">
          <i class="nc-icon nc-pin-3"></i>
          <p>Danh sách môn học</p>
        </a>
      </li>
      <li>
        <a routerLink="/dsdiemhocsinh">
          <i class="nc-icon nc-pin-3"></i>
          <p>Danh sách điểm học sinh</p>
        </a>
        <ul class="nav">
          <li>
            <a>
              <p>Môn Toán</p>
            </a>
          </li>
          <li>
            <a>
              <p>Môn Tiếng Anh</p>
            </a>
          </li>
          <li>
            <a>
              <p>Môn Ngữ Văn</p>
            </a>
          </li>
          <li>
            <a>
              <p>Môn Vật Lí</p>
            </a>
          </li>
          <li>
            <a>
              <p>Môn Hóa Học</p>
            </a>
          </li>
          <li>
            <a>
              <p>Môn Sinh Học</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

