<div  class="card card-stats">
  <div id="timkiemHS" >
    <h3>Danh sách điểm của học sinh</h3>
    <div>
        <nav class="navbar navbar-light bg-light">
          <button type="button" class="btn btn-success">Thêm môn học mới</button>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
    </div>
  </div>
  <hr>

  <table id="TBdanhsachHS" class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Mã học sinh</th>
        <th scope="col">Họ và tên</th>
        <th scope="col">Toán</th>
        <th scope="col">Vật lí </th>
        <th scope="col">Hóa học </th>
        <th scope="col">Sinh học </th>
        <th scope="col">Tin học </th>
        <th scope="col">Ngữ văn </th>

        <th scope="col">Địa lí </th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor=" let student of students">
        <th scope="row">{{student.stt}}</th>
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.toan }}</td>
        <td>{{ student.li }}</td>
        <td>{{ student.hoa }}</td>
        <td>{{ student.sinh }}</td>
        <td>{{ student.tin }}</td>
        <td>{{ student.van }}</td>
        <td>{{ student.diali }}</td>
        <td>
          <button type="button" class="btn btn-success" >Sửa</button>
          <button type="button" class="btn btn-danger" (click)="removestudents(student.stt)">Xóa</button>
        </td>
      </tr>




    </tbody>
  </table>
  </div>
